[package]
name = "reth-exexed"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
brotlic.workspace = true
reth.workspace = true
reth-exex.workspace = true
reth-node-ethereum.workspace = true
reth-tracing.workspace = true
eyre.workspace = true
borsh.workspace = true
serde_json.workspace = true
wevm-borsh = { path = "../wevm-borsh", name = "wevm-borsh" }
repository = { path = "../repository" }
bigquery = { path = "../bigquery" }
exex-etl = { path = "../exex-etl" }
types = { path = "../types" }
lambda = { path = "../lambda" }
irys = { path = "../irys" }